
#logo{ 
float: left;
	top:10; 
	left:0; 
} 



section{
  
    margin: 80px;
}


table td#ROW1  {background-color:red; color:white;  }
  table td#ROW2  {background-color:green;  color:white}
  
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;

    margin: 120px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}



a,h6 {
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

header {

}

nav {

  background: #ccc;
  
}


nav ul {
  padding: 0px;
text-align: center;
}




footer {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
  color: white;
}

